.uix-validation {
  padding: 1%;
  font-size: 90%;
  color: #232323;
  width: 100%;
  background: #ffffff;
  display: none;
}
.uix-valid-c {
  background: #64e066;
}
.uix-invalid-c {
  background: #ff8484;
}

// old #5bff5e